@import url("https://fonts.googleapis.com/css2?family=Nova+Round&display=swap");

$green-color: #c8d0b4;
$orange-color: #f2ead3;
$dark-orange-color: #f39a3e;
$braun-color: #321313;
$white-color: #ffffff;
$gray-color: #e5e5e5;
$black-color: #333333;
$fontText: "Nova Round", cursive;
$fontTitles: "Open Sans", sans-serif;
// $fontTitles:'Fredericka the Great', cursive;

* {
  box-sizing: border-box;
  margin: 0;
  font-family: $fontText;
  text-decoration: none;
  list-style: none;
  //   color: $braun-color;
}
// HOME
body {
  color: $braun-color;
  margin: 0;
  box-sizing: border-box;
  background-color: $white-color;
}
/* NAV */
nav {
  position: fixed;
  top: 0;
  background-color: $white-color;
  z-index: 99999;
  min-height: 10vh;
  //   padding: 0 5%;
  //   display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%;
  border-bottom: 1px solid $white-color;
  //   box-shadow: -1px 11px 23px 1px $orange-color;
  div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $orange-color;
    padding: 0.3% 10%;
    a {
      display: flex;
      font-size: 0.6em;
      color: $braun-color;
      //   margin-right: 2rem;
      align-items: center;
    }
  }
  ul {
    padding: 1% 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
      width: 8em;
      border-radius: 20% 0% 20% 0%;
    }
    li {
      padding-right: 2rem;
      font-size: 1.2rem;
      text-transform: uppercase;
      //   color: $braun-color;
    }
    a,
    a:visited {
      color: $braun-color;
    }
  }
}

// MAIN
main {
  margin-top: 11em;
  border-top: 1px solid $black-color;
  text-align: center;

  background-image: url("./img/readHair.png");
  background-color: $gray-color;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //   position: relative;
  h1 {
    padding-top: 4em;
  }
}

/* FORM */
form {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 2em auto;
}
form input {
  padding: 1em;
}
form input:last-of-type {
  color: var(--white-color);
  padding: 1em;
  background-color: var(--black-color);
}
