@import url("https://fonts.googleapis.com/css2?family=Nova+Round&display=swap");

$green-color: #c8d0b4;
$orange-color: #f2ead3;
$dark-orange-color: #d5753b;
$braun-color: #321313;
$white-color: #ffffff;
$gray-color: #e5e5e5;
$black-color: #333333;
$fontText: "Nova Round", cursive;
$fontTitles: "Open Sans", sans-serif;
// $fontTitles:'Fredericka the Great', cursive;

* {
  box-sizing: border-box;
  margin: 0;
  font-family: $fontText;
  text-decoration: none;
  list-style: none;
  //   color: $braun-color;
}
// HOME
body {
  color: $braun-color;
  margin: 0;
  box-sizing: border-box;
  background-color: $white-color;
  min-height: 100vh;
}

// MAIN
main {
  .parallax {
    // margin-top: 11em;
    // border-top: 1px solid $black-color;
    text-align: center;
    opacity: 1;
    background-image: url("./img/woman7.jpg");
    // background-color: $braun-color;
    min-height: 80vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    h1 {
      font-size: 4em;
      color: $dark-orange-color;
      width: 70%;
      margin: 0 auto;
      text-align: center;
      text-transform: uppercase;
      position: relative;
      animation: welcomeText 1.5s linear;
      padding-top: 3em;
      padding-bottom: 3em;
    }
  }
  .offers {
    padding: 10% 5%;
    display: flex;
    gap: 4em;
    article {
      // box-shadow: -1px 11px 23px 1px $dark-orange-color;
      box-shadow: -1px 11px 23px 1px $braun-color;
      border-radius: 20% 0% 20% 0%;
      background-color: $orange-color;
      padding: 2em;
      width: 30%;
      figure {
        margin-bottom: 1em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
          width: 50%;
          border-radius: 20%;
          height: 15em;
        }
        figcaption {
          padding: 1em;
          font-size: 2em;
          font-weight: 600;
        }
      }
      p {
        padding-top: 1em;
        padding-bottom: 1em;
      }
    }
  }
  .parallax2 {
    background-position: center;
    background-image: url("./img/woman5.jpg");
  }
  .testimonial {
    padding: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* CSS talk bubble */
    .talk-bubble {
      margin: 2em;
      padding: 1em;
      display: inline-block;
      position: relative;
      width: 20%;
      height: auto;
      background-color: $orange-color;
    }
    .border {
      border: 8px solid $orange-color;
    }
    .round {
      border-radius: 1em;
      -webkit-border-radius: 1em;
      -moz-border-radius: 1em;
    }
    /*Right triangle, placed bottom left side slightly in*/
    .tri-right.border.btm-left-in:before {
      content: " ";
      position: absolute;
      width: 0;
      height: 0;
      left: 30px;
      right: auto;
      top: auto;
      bottom: -40px;
      border: 20px solid;
      border-color: $orange-color transparent transparent $orange-color;
    }
    .tri-right.btm-left-in:after {
      content: " ";
      position: absolute;
      width: 0;
      height: 0;
      left: 38px;
      right: auto;
      top: auto;
      bottom: -20px;
      border: 12px solid;
      border-color: $orange-color transparent transparent $orange-color;
    }
  }
  .bgAbout {
    background-position: center;
    background-image: url("./img/woman2.jpg");
  }
}

@keyframes welcomeText {
  0% {
    // font-size: 0%;
    opacity: 0;
    transform: translateY(100%);
  }
}
